.button-nav{
    background-color: transparent;
    border: none;
}

.button-section-2 {
    background-color: transparent;
    border-color: white;

}

.contact-message {
    height: 150px;
}

/* test */
.img-header {
    width: 150px;
    height: 150px;
    background-color: yellow;
    border-radius: 50%;
}

.img-card {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
}
/* /test */


