a {
    color: white;
    text-decoration: none;
}
.debug {
    border: 1px solid red;
    background-color: rgba(248, 32, 32, 0.747);
}

.img-header {
    width: 150px;
    height: 150px;
    background-color: yellow;
    border-radius: 50%;
}

.img-card {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
}

.button-section-3 {
    background-color: green;
    align-items: flex-start;
}